# Alistair's test cases that I'm including with my pull requests to Tony

Assume that [the basic test suite](TM351%20VM%20Installation%20Test.ipynb) runs OK.

Now load in `pandas` and the `sql` extension:

In [1]:
import pandas as pd

import sqlalchemy

%load_ext sql

## connect to the database using the connection string from notebook 03.3

In [2]:
# Execute this cell if you are using the local environment

DB_USER='tm351'
DB_PWD='tm351'

DB_NAME='tm351'

In [3]:
# Create the connection string for the sql magic

CONNECT_DB='postgresql://{}:{}@localhost:5432/{}'.format(DB_USER, DB_PWD, DB_NAME)
CONNECT_DB

'postgresql://tm351:tm351@localhost:5432/tm351'

In [4]:
%sql $CONNECT_DB

'Connected: tm351@tm351'

Good, that seems to work. Now do a quick test with the `quickdemo` table:

In [5]:
%%sql

DROP TABLE IF EXISTS quickdemo;

CREATE TABLE quickdemo(id INT PRIMARY KEY, name VARCHAR(20), value INT);

INSERT INTO quickdemo VALUES(1,'This',12);
INSERT INTO quickdemo VALUES(2,'That',345);

SELECT * FROM quickdemo;

 * postgresql://tm351:***@localhost:5432/tm351
Done.
Done.
1 rows affected.
1 rows affected.
2 rows affected.

[(1, 'This', 12), (2, 'That', 345)]

In [6]:
result = %sql SELECT * FROM quickdemo WHERE value > 25
result

 * postgresql://tm351:***@localhost:5432/tm351
1 rows affected.

[(2, 'That', 345)]

Excellent. Those seem OK.

## connect to the database using the connection string from notebook 08.1

What we want first is to check that the reset script is working OK. I've put the script and all the support files in the folder `AGW_test_files`

I'll use `runpy` to execute the script. That'll need the student to be logged in with the correct credentials:

In [7]:
# Execute this cell if you are using the local environment

DB_USER='tm351_student'
DB_PWD='tm351_pwd'

DB_NAME='tm351_clean'

The `runpy` script needs to delete any tables from the `tm351_clean` database which might be called in the rest of the notebook.

In [8]:
import runpy

In [9]:
runpy.run_path('./AGW_test_files/sql_initial_state.py',
               {'DB_USER_CLEANUP':DB_USER,
                'DB_PWD_CLEANUP':DB_PWD,
                'DB_NAME_CLEANUP':DB_NAME})

pass

DROPping table doctor
DROPping table patient
DROPping table prescription
DROPping table drug
Recreating the tm351_hospital schema
Populating the tm351_hospital schema

Check that the tables are correctly defined in the `tm351_hospital` schema:

In [10]:
# Create the connection string for the sql magic

CONNECT_DB='postgresql://{}:{}@localhost:5432/{}'.format(DB_USER, DB_PWD, DB_NAME)
CONNECT_DB

'postgresql://tm351_student:tm351_pwd@localhost:5432/tm351_clean'

In [11]:
%sql $CONNECT_DB

'Connected: tm351_student@tm351_clean'

In [12]:
%%sql

SELECT *
FROM tm351_hospital.patient

   postgresql://tm351:***@localhost:5432/tm351
 * postgresql://tm351_student:***@localhost:5432/tm351_clean
17 rows affected.

[('p001', 'Thornton', datetime.date(1980, 1, 22), 'F     ', Decimal('162.3'), Decimal('71.6'), 'd06 '),
 ('p007', 'Tennent', datetime.date(1980, 4, 1), 'M     ', Decimal('176.8'), Decimal('70.9'), 'd07 '),
 ('p008', 'James', datetime.date(1980, 7, 8), 'M     ', Decimal('167.9'), Decimal('70.5'), 'd07 '),
 ('p009', 'Kay', datetime.date(1980, 9, 25), 'F     ', Decimal('164.7'), Decimal('53.2'), 'd06 '),
 ('p015', 'Harris', datetime.date(1980, 12, 4), 'M     ', Decimal('180.6'), Decimal('64.3'), 'd06 '),
 ('p031', 'Rubinstein', datetime.date(1980, 12, 23), 'F     ', Decimal('NaN'), Decimal('NaN'), 'd07 '),
 ('p037', 'Boswell', datetime.date(1981, 6, 11), 'F     ', Decimal('NaN'), Decimal('NaN'), 'd10 '),
 ('p038', 'Ming', datetime.date(1981, 9, 23), 'M     ', Decimal('186.3'), Decimal('85.4'), 'd11 '),
 ('p039', 'Maher', datetime.date(1981, 10, 9), 'F     ', Decimal('161.9'), Decimal('73.0'), 'd11 '),
 ('p068', 'Monroe', datetime.date(1981, 2, 21), 'F     ', Decimal('165.0'), Decimal('62.6'), 'd10 '),
 ('p071', 'Harris', datetime.date(1981, 12, 12), 'M     ', Decimal('186.3'), Decimal('76.7'), 'd10 '),
 ('p078', 'Hunt', datetime.date(1982, 2, 25), 'M     ', Decimal('179.9'), Decimal('74.3'), 'd10 '),
 ('p079', 'Dixon', datetime.date(1982, 5, 5), 'F     ', Decimal('163.9'), Decimal('56.5'), 'd06 '),
 ('p080', 'Bell', datetime.date(1982, 6, 11), 'F     ', Decimal('171.3'), Decimal('49.2'), 'd07 '),
 ('p087', 'Reed', datetime.date(1982, 6, 14), 'F     ', Decimal('160.0'), Decimal('59.1'), 'd07 '),
 ('p088', 'Boswell', datetime.date(1982, 8, 23), 'M     ', Decimal('168.4'), Decimal('91.4'), 'd06 '),
 ('p089', 'Jarvis', datetime.date(1982, 11, 9), 'F     ', Decimal('172.9'), Decimal('53.4'), 'd10 ')]

And check that the foreign keys are properly implemented:

In [13]:
try:
    %sql DELETE FROM tm351_hospital.doctor WHERE doctor_id='d06'
except sqlalchemy.exc.IntegrityError:
    print("Integrity Error raised OK")

   postgresql://tm351:***@localhost:5432/tm351
 * postgresql://tm351_student:***@localhost:5432/tm351_clean
Integrity Error raised OK